<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
      <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
	     <encoder>
	       <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
	     </encoder>
 	 </appender>
 	 
  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>
 	 

    <logger name="org.apache.cassandra" level="ERROR" />
    <logger name="com.sonartrade.orderbook" level="DEBUG" />
    <root level="DEBUG">
          <appender-ref ref="ASYNCFILE" />
		   <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>